footer {
    background-color: gray;
}
.topnav {
    background-color: black;
    width: 100%;
    padding-bottom: 1%;
    padding-top: 1%;
    top: 0;
}
.topnav a {
    text-decoration: none;
    color: white;
     padding-left: 10.56%;
    padding-right: 10.56%;
    padding-top: inherit;
    padding-bottom: inherit;
    margin-top: 20%;
    margin-bottom: 5%;;
    font-size: 20pt;
}

.topnav a:hover {
    background-color: gray;
}
