footer {
    background-color: gray;
}

.topnav a:hover {
    background-color: gray;
}
.dropdown {
    display: none;
}
.drop {
    display: none;
}
.topnav {
    top: 0;
}
nav ul {
    margin: 0;
    padding: 0;
}
nav > ul > li {
    display: block;
}
.dd{
    position: relative;
}
.ddc{
    display: none;
    position: absolute;
    width: 100%;
}
.dd:hover .ddc{
    display:block;
}
nav ul li a {
    display: block;
    text-decoration: none;
    font-size: 1.5em;
    background-color: black;
    width: 100%;
}
nav ul li a:hover {
    color: #ff0000;
    background-color: #000000;
}
nav.topbar {
   background:black; 
}

nav.topbar ul { 
    margin: 0;
    list-style: none;
}

nav.topbar ul li {
    display: inline-block;
}

nav.topbar ul li a {
    text-decoration: none;
    color: firebrick;
    display: inline-block;
    font-size: 1.2em;
}
.topbar li {
    width: 20%;
    text-align: center;
}
.topbar li:hover , .topbar a:hover{
background-color: darkgray;
}
.topbar a {
    width: 100%;
    padding: 5%;
}
.ddc li{
    width: 100%;
}
.ddc a{
 padding: 2%;
    margin-bottom: 0%;
    margin-top: 0%;
    
}
.topbar li {
  margin-left: 1%;
 margin-right: 1%;
}

.artpage h1 {
    width: 100%;
    color: orangered;
    font-family: "century gothic";
    background-color: black;
    text-align: center;
    padding-top: 2%;
    padding-bottom: 2%;
    font-size: 50pt;
}
.art1 , .art2 , .art3 {
    display:inline;
}

.art1 h3 , .art2 h3 , .art3 h3 {

}

.headerstyle {
    width: 100%;
    padding: 5%;
    margin: 0;
    background-image: url(brush_aluminum_hex.jpg);
    text-align: center;
    color: orange;
    font-size: 20pt;
}